:root {
    --white: #fff;
    --gray1: rgb(71 85 105);
    --gray2: rgb(51 65 85);
    --gray3: rgb(30 41 59);
    --gray4:  rgb(15 23 42);
    --gray5:  rgb(100 116 139);
}


body {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: var(--white);
    background-color: var(--gray4);
}

.dark-mode {
    --white: black;

    --gray1:  #2e2e2e;
    --gray2: #292929; 
    --gray3: #1c1c1c;
    --gray4: #121212;
}

.vim-mode {
    --gray1:  rgb(5 150 105);
    --gray2: rgb(4 120 87); 
    --gray3: rgb(6 95 70);
    --gray4: rgb(6 78 59);
}

.purple-mode {
    --gray1: rgb(37 99 235);
    --gray2: rgb(29 78 216);
    --gray3: rgb(30 64 175);
    --gray4: rgb(30 58 138);
}

.fire-mode {
    --gray1: rgb(244 63 94);
    --gray2: rgb(225 29 72);
    --gray3: rgb(190 18 60);
    --gray4: rgb(159 18 57);
}

.basic-mode {
    --white: black;
    --gray1: rgb(229 231 235);
    --gray2: rgb(209 213 219);
    --gray3: rgb(156 163 175);
    --gray4: rgb(107 114 128);
}


body::-webkit-scrollbar {
    width: 8px;
  }
  html {
    scrollbar-width: thin;
    scrollbar-color: gray var(--white);
  }
  
  body::-webkit-scrollbar-thumb {
    /* background-color: var(--gray1); */
    border-radius: 5px;
  }